.div{
    background-color: maroon;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1px; 
    box-sizing: border-box; 
    left: 0;
  
    
}
.div2{
    background-color: maroon;
    position: fixed;
    top: 0;
    width: 30%;
    padding: 1px;
    box-sizing: border-box;
    right: 40px;
    text-align: right;
}
.headerRight{
    color: beige;
 

}

.headertext{
    color: beige;
    padding-right: 5px;
}