.header{
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    margin-top: 2%;
    margin-left: 2%;
}

.hr{
    background-color: maroon;
    width: 10%;
    color: maroon;
    margin-left: 2%;

}

.nav{
    color: maroon;
    font-family: 'Times New Roman', Times, serif;
}
.a{
    color: black;
}
.pre{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}